body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: , serif;
  line-height: 1.5;
  padding: 180px 50px;
}
body {
      background: url(background/background.jpg);
      -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: coontain;

}

h3 {
  position: relative;
  top: 1px;
  left: 1px;
  font-size: 3vmin;
  color: #CAC4AE;
  padding: 10px 1px 10px 1px;
}

a {
color: #E2DBC4;
text-decoration: none;
}


img {
    float: inherit;
    position: fixed;
    left: 0px;
    top: 280px;
    padding: 10px 0px 10px 0px;

}

.responsive {
  display: block;
  min-width: 100%;
  height: auto;
}

#container {
  /* This will come into play later */
  perspective: 60px;
}
#inner {
    transform: rotateX(calc(var(--mouseY)))
    rotateY(calc(var(--mouseX)));
    transition-origin: center;
    transition: transform 0.5s;
}
Video {
    position: fixed;
    right:0;
    bottom: 0;
    min-width: 100%;
     min-height: 100%;
      z-index: -3;
}
.keyboard1 {
  position: fixed;
  bottom: 10px;
  left: 30px;

}

.keyboard2 {
  position: fixed;
  bottom: 10px;
  left:140px;
}

.keyboard3 {
  position: fixed;
  bottom: 10px;
  left:250px;
}

.keyboard4 {
  position: fixed;
  bottom: 10px;
  left:360px;
}

.keyboard5 {
  position: fixed;
  bottom: 10px;
  left:470px;
}


#rectangle:link, #rectangle:visited {
    background-color: #E2DBC4;
    color: white;
    padding: 140px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#rectangle:hover, #rectangle:active {
    background-color: #282626;
}
