@import 'https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:400';

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url(background/background.jpg);
    -webkit-background-size: contain;
-moz-background-size: contain;
-o-background-size: contain;
background-size: coontain;
}

div.absolute-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 1;
    visibility: visible;

    transition: all .5s;
}
a {
  color: #42280D;
}

h3, h5 {
    padding: 10px 30px 10px 30px;
    box-sizing: border-box;

    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px 0 black;

    font-family: 'Open Sans';
    font-weight: 300;
    text-align: center;
    letter-spacing: 3px;
}

span#close {
    position: absolute;
    top: -15px;
    left: -30px;

    color: white;
    font-size: 30px;
    text-shadow: 0 0 5px black;

    cursor: pointer;
}

canvas {
  position: fixed;
width: 100%;
height: 100%;
 z-index: -1;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  position: relative;
  display: inline-block;
  letter-spacing: 1.2px;
  padding: 12px 32px;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn--primary {
  color: #30303A;
}
.btn--border {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  box-sizing: border-box;
}
.btn--animated {
  transition-property: color;
  transition-duration: 0.5s;
}
.btn--animated.btn--border.btn--primary {
  border: 1px solid #30303A;
}
.btn--animated:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #D2CEC9;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  z-index: -1;
}
.btn--animated:hover {
  color: white;
}
.btn--animated:hover:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
}
