body {
  margin:  auto;
  max-width: 1000px;
  font-family: , serif;
  line-height: 1.5;
  padding: 180px 50px;
}
body {
        background: #0D1316;
        overflow: hidden;


}

h3 {
  position: relative;
  font-size: 3vmin;
  color: #CAC4AE;
  padding: 10px 0px 10px 0px;
  left:0px;
  top: 280px;
}

a {
color: #CAC4AE;
text-decoration: none;
}

canvas{
  position: fixed;
  right:0;
  bottom: 0;
  min-width: 100%;
   min-height: 100%;
    z-index: -1;
}
#myVideo{
  position: fixed;
  right:0;
  bottom: 0;
  min-width: 100%;
   min-height: 100%;
    z-index: -3;
}
